.Tilt {
  background: linear-gradient(
    to right,
    #fff,
    #076585
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px; */
  display: flex;
  padding-left: 20px;
}
